.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.player-seek {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

    .player-seek input {
        width: 100%;
    }

.player-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .player-info img {
        height: 60px;
        width: 60px;
        object-fit: cover;
    }

.player-title, .player-artist {
    display: block;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;

}

    .play-btn {
        height: 40px;
        width: 40px;
    }

    .player-volume {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .player-volume input {
        width: 100px;
    }
