.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.player-info {
    flex: 1;
}

    .player-info img {
        height: 100px;
        width: 100px;
    }

.player-controls {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.player-progress {
    flex: 1;
}

    .player-progress input {
        width: 100%;
    }
