.track-cover {
    position: relative;
    width: 150px;
    height: 150px;
}

    .track-cover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.play-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.track-cover:hover .play-button {
    opacity: 1;
}
